[submodule "foundry-nft-f25/lib/forge-std"]
	path = foundry-nft-f25/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-nft-f25/lib/openzeppelin-contracts"]
	path = foundry-nft-f25/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-nft-f25/lib/foundry-devops"]
	path = foundry-nft-f25/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-defi-stablecoin-f25/lib/forge-std"]
	path = foundry-defi-stablecoin-f25/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-defi-stablecoin-f25/lib/openzeppelin-contracts"]
	path = foundry-defi-stablecoin-f25/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-defi-stablecoin-f25/lib/chainlink-brownie-contracts"]
	path = foundry-defi-stablecoin-f25/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
